.firstScreenContainer {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    position: relative;
}


.firstScreenContainer .prev {
    top: 90%;
    right: 13rem;
}

.firstScreenContainer .next {
    top: 90%;
    right: 10rem;
}

.firstScreenContainer .dotsContainer {
    
    position: absolute;
    top: 95%;
    left: 14rem;
}


