.firstScreenContainer {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.firstScreenContainer .slideshow-container {
    display: block;
}

.firstScreenContainer .prev {
    left: 0;
}


